@model IEnumerable<Presentation.ViewModel.VooViewModel>
@{
    ViewData["Title"] = "Listar";
}

<h1>Lista de Voos</h1>

<table class="table">
    <thead>
        <tr>
            <th>Numeração Única</th>
            <th>Aeroporto Origem</th>
            <th>Aeroporto Destino</th>
            <th>Data e Hora de Partida</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var voo in Model)
        {
            <tr>
                <td>@voo.Id</td>
                <td>@voo.AeroportoOrigemNome</td>
                <td>@voo.AeroportoDestinoNome</td>
                <td>@voo.DataHoraPartida</td>
                <td>
                    <a asp-action="Detalhes" asp-route-id="@voo.Id">Detalhes</a> |
                    <a asp-action="Editar" asp-route-id="@voo.Id">Editar</a> |
                    <a asp-action="Excluir" asp-route-id="@voo.Id">Excluir</a>
                </td>
            </tr>
        }
    </tbody>
</table>
